h1 {
    font-size: 1.5rem;
    padding: 5px;
}

header {
    display: flex;
    align-items: center;
}

.notifications {
    position: relative;
}

.notifications-button {
    margin-left: 4.5rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
  padding: 3px;
}

.notification > span {
    display: block;
}

.notification {
    border: 1px solid #EEE;
    border-radius: 5px;
    padding: 5px;
    font-size: 0.9rem;
    transition: visibility .2s;
}

.title {
    font-weight: 600;
    font-size: 0.9rem;
}

.description {
    font-size: 0.9rem;
}

.notification-type.high:after {
  content: '\26A0'
}

.notification-type.low:after {
   content: '\2716' 
}

label {
   font-size: 0.8rem;
}

.read-badge {
   display: inline-block;
   font-size: 0.7rem;
   width: 3rem;
   height: 1rem;
   text-align: center;
}
.read-badge.unread {
    border-radius: 5px;
    border: 1px solid red;
    color: red;
}

.read-badge.read {
    border-radius: 5px;
    border: 1px solid green;
    color: green;
}

.title > .read-badge.read:before {
  content: '\2713';
}

.mark-read span.read:before {
    content: '\2713';
}

.mark-read span.read {
   display: inline-block;
   font-size: 0.7rem;
   width: 40px;
   height: 15px;
   text-align: center;
   border-radius: 5px;
   border: 1px solid green;
   color: green;
}
